.buyButton {
  transform: scale(0.4);
  z-index: 2;
}

.Cloud1 {
  position: absolute;
  height: auto;
  width: 50%;
  top: 1rem;
  right: 0rem;
  opacity: 50%;
  z-index: -1;
}

.Cloud2 {
  position: absolute;
  height: auto;
  width: 60%;
  top: 12rem;
  left: 0;
  z-index: -1;
  opacity: 50%;
}

.mainbuy {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.zoom {
  animation: zoom 1s ease-out infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
